html,
body,
header
{
    height: 100%;
    background-color: #5AA57C;
}

.center{
    top: 15rem;
    background-color: antiquewhite;
    height: 20em;
}

.hello{
    padding-bottom: 1em;
    padding-top: 0.8em;
}

.formulaire{
    padding-bottom: 0.4em;
    padding-top: 0.4em;
}

.bouton{
    padding-top: 1em;
}

.bouton-home{
    padding-top: 2em;
}